:root {
  --bg: #f5fafc;
  --base: #ebf2fa;
  --stroke: #244356;
  --base-tint: #a7d0e0;
  --orange: #fdc23e;
  --blue: #449baa;
  --red: #ff7761;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 10px;
  padding: 10px;
  background: #eee;
}

.credit {
  color: #999;
  text-align: center;
}

.canvas {
  width: 800px;
  height: 600px;
  margin: 50px auto;
  border-radius: 3px;
  position: relative;
  background: #f5fafc;
  border: 20px white solid;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  margin: 50px;
}

.bb8 {
  top: 50%;
  left: 40%;
  width: 220px;
  height: 220px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.bb8-body {
  width: 220px;
  height: 220px;
  overflow: hidden;
  background: var(--base);
  border-radius: 50%;
  position: absolute;
  border: 8px solid var(--stroke);
  animation: spin 2s linear infinite;
}

.circle {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--orange);
  border: 8px solid var(--stroke);
}

.circle::after {
  top: 50%;
  left: 50%;
  width: 35%;
  content: "";
  height: 35%;
  display: block;
  border-radius: 50%;
  position: absolute;
  background: var(--base);
  border: 8px solid var(--stroke);
  transform: translate(-50%, -50%);
}

.circle-1 {
  top: -15px;
  left: -40px;
}

.circle-2 {
  left: 80px;
  top: 123px;
}

.circle-3 {
  left: 120px;
  top: -180px;
  width: 300px;
  height: 300px;
}

.dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  background: var(--stroke);
}

.dot-1 {
  top: 80px;
  left: 117px;
}

.dot-2 {
  left: 45px;
  top: 135px;
}

.line {
  height: 8px;
  width: 100px;
  position: absolute;
  background: var(--stroke);
}

.line-1 {
  top: 40px;
  left: -70px;
  transform: rotate(45deg);
}

.line-2 {
  top: -45px;
  left: -60px;
  transform: rotate(168deg);
}

.line-3 {
  top: 25px;
  left: 10px;
  transform: rotate(-70deg);
}

.body-shadow-crop {
  width: 220px;
  height: 220px;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  border: solid 8px var(--stroke);
  -webkit-transform: translate3d(0, 0, 0);
}

.body-shadow {
  top: -25px;
  left: -45px;
  width: 230px;
  height: 210px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.4);
}

.body-shadow::after {
  content: "";
  top: 35px;
  left: 45px;
  width: 230px;
  height: 210px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.4);
}

.bb8-head {
  top: -60px;
  left: -30px;
  width: 160px;
  height: 160px;
  position: absolute;
  transform: rotate(-30deg);
}

.head-top {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  position: absolute;
  background: var(--base);
  border: solid 8px var(--stroke);
  box-shadow: -10px 0px 0px 5px rgba(0, 0, 0, 0.2) inset;
}

.lens {
  left: 50%;
  top: 20px;
  width: 56px;
  height: 56px;
  overflow: hidden;
  margin-left: -28px;
  position: absolute;
  border-radius: 50%;
  background: #295a6d;
  border: solid 8px var(--stroke);
}

.lens::before,
.lens::after {
  left: 10px;
  top: -20px;
  width: 6px;
  content: "";
  height: 70px;
  display: block;
  position: absolute;
  background: #2a6b80;
  transform: rotate(40deg);
}

.lens::after {
  left: 25px;
  top: -10px;
  width: 10px;
}

.freckle {
  top: 60px;
  left: 120px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  position: absolute;
  background: var(--stroke);
}

.head-top-crop {
  height: 50%;
  overflow: hidden;
  position: relative;
}

.head-bottom {
  top: 80px;
  width: 100%;
  position: absolute;
}

.head-bottom-base,
.head-side-1,
.head-side-2 {
  height: 20px;
  position: absolute;
  background: var(--base-tint);
  border-bottom: 8px solid var(--stroke);
}

.head-bottom-base {
  left: 11%;
  width: 78%;
}

.head-side-1 {
  left: -3px;
  top: -22px;
  width: 32px;
  transform: rotate(52deg);
  transform-origin: bottom left;
  border-radius: 0px 0px 8px 8px;
}

.head-side-2 {
  top: -22px;
  right: -3px;
  width: 32px;
  transform: rotate(-52deg);
  border-radius: 0px 0px 8px 8px;
  transform-origin: bottom right;
}

.speed-lines > div {
  left: 120px;
  height: 8px;
  width: 55px;
  border-radius: 8px;
  position: absolute;
  background: var(--stroke);
}

.speed-lines > div.tail::after {
  left: 100%;
  height: 8px;
  content: "";
  width: 20px;
  display: block;
  margin-left: 5px;
  border-radius: 8px;
  position: absolute;
  background: var(--stroke);
}

.speed-lines > div.one {
  left: 53px;
  top: -60px;
}

.speed-lines > div.two {
  left: 113px;
  top: -21px;
}

.speed-lines > div.three {
  top: -10px;
  left: 103px;
  width: 30px;
}

.speed-lines > div.four {
  top: 121px;
  left: 203px;
  width: 30px;
}

.speed-lines > div.five {
  top: 141px;
  left: 218px;
  width: 50px;
}

.ground > div {
  top: 212px;
  height: 8px;
  left: -90px;
  width: 80px;
  position: absolute;
  border-radius: 8px;
  background: var(--stroke);
}
.ground > div.one .bump {
  left: 40px;
}

.ground > div.two {
  left: -1px;
  width: 25px;
}

.ground > div.three {
  left: 34px;
  width: 300px;
}

.ground > div.four {
  left: 346px;
  width: 90px;
}

.ground > div.four > .bump {
  left: 10px;
}

.ground > div.five {
  left: 450px;
  width: 20px;
}

.ground > div.six {
  left: 11px;
  top: 255px;
  width: 80px;
}

.ground > div.six > .bump {
  left: 10px;
}

.ground > div.seven {
  top: 255px;
  left: 171px;
  width: 127px;
}

.ground > div.seven > .bump {
  left: 60px;
}

.ground > div.eight {
  left: 71px;
  top: 295px;
  width: 87px;
}

.ground > div.eight > .bump {
  left: 30px;
}

.bump {
  top: -7px;
  width: 30px;
  height: 15px;
  overflow: hidden;
  position: absolute;
  animation: move 0.5s linear infinite;
}

.bump.move-1 {
  animation: move 0.5s 350ms linear infinite;
}

.bump.move-2 {
  animation: move 0.5s 700ms linear infinite;
}

.bump::after {
  content: "";
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50%;
  background: var(--bg);
  box-sizing: border-box;
  border: 8px solid var(--stroke);
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  90% {
    transform: scale(0.3);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes move {
  0% {
    left: 5%;
    transform: scale(0);
  }

  10% {
    transform: scale(1);
  }

  90% {
    transform: scale(1);
  }

  100% {
    left: 55%;
    transform: scale(0);
  }
}
